<mat-toolbar color="light-nav" class="mat-elevation-z3" >
    

    <div class="divider"></div>
    <!-- <mat-slide-toggle color="accent" [checked]="isDark" (change)="setThemee($event.checked)">Dark Mode</mat-slide-toggle> -->

    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
    </button>

    <button mat-icon-button (click)="setTheme()">
        <mat-icon>{{currentTheme=="light" ?  "brightness_3":"wb_sunny"  }}</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item>Login</button>
        <button mat-menu-item>Logout</button>
    </mat-menu>
</mat-toolbar>
