.mt {
  margin-top: 500px;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background: none !important;
}


.main-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  //align-items: center;
  margin-top: 10px;
}
.main-card {
  width: 500px;
  align-items: center;
}

.main-card-content {
  width: 450px;
}

mat-form-field {
  width: 100%;
}
.button-big-bg {
  width: 100%;
  // color: white !important;
  // background-color: #F84E45 !important;
}
mat-label {
  color: #878484;
}

.footer-scss {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    color: red;
    cursor: pointer;
    
  }
  span:hover{
    text-decoration: underline;
  }
}
