@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
:host {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .mt{
    margin-top: 500px;
  }
  