<app-header *ngIf="showHead"></app-header>


<mat-sidenav-container *ngIf="showHead">
  <!-- mode="side,over,push" -->
  <mat-sidenav  opened mode="side" [style.width]="sidenavWidth()">
    <app-custom-sidenav [collapsed]="collapsed()" />
  </mat-sidenav>
  <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
    <main class="container">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>


<!-- for on auth page -->

<router-outlet *ngIf="!showHead"></router-outlet>


<!-- <app-footer></app-footer> -->

