@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
:host {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .mt{
    margin-top: 500px;
  }
  .content {
    padding: 24px;
  }
  mat-sidenav-container {
    height: calc(100vh - 64px);
  }
  mat-sidenav,mat-sidenav-content{
    transition: all 500ms ease-in-out;

  }

  