@use '@angular/material' as mat;
@include mat.core();


html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  color: var(--text-color-hard);
  font-weight: 400;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
.mat-mdc-progress-spinner { --mdc-circular-progress-active-indicator-color: white; }

/* Change the border focused color */
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-notched-outline__trailing {
  border-color: #878484 !important;
}




// $inside-primary: mat-palette($mat-light-blue);
// $inside-accent: mat-palette($mat-light-blue);
// $inside-warn: mat-palette($mat-red);
// $inside-theme-dark: mat-dark-theme($inside-primary, $inside-accent, $inside-warn);
// $inside-theme-light: mat-light-theme($inside-primary, $inside-accent, $inside-warn);

$custom-primary: mat.define-palette(mat.$red-palette, 500, 100, 900);



$youtube-navbar-sidebar-primary-light-theme: mat.define-palette(mat.$indigo-palette);

// Define a light theme
$light-primary: mat.define-palette(mat.$indigo-palette);
$light-accent: mat.define-palette(mat.$pink-palette);
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $custom-primary,
      //primary:$bv-palette-primary,
      accent: $light-accent,
      light-nav:$youtube-navbar-sidebar-primary-light-theme
    ),
  )
);

// Define a dark theme
$dark-primary: mat.define-palette(mat.$pink-palette);
$dark-accent: mat.define-palette(mat.$blue-gray-palette);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $dark-accent,
    ),
  )
);

.color-scheme-dark {
  @include mat.core-color($dark-theme);
  @include mat.button-color($dark-theme);
  @include mat.icon-color($dark-theme);
  @include mat.list-color($dark-theme);
  @include mat.sidenav-color($dark-theme);
  @include mat.toolbar-color($dark-theme);
  @include mat.card-color($dark-theme);
  @include mat.menu-color($dark-theme);
  @include mat.form-field-color($dark-theme);
  // Example how you can easy add own custom styles
  .card-wrapper {
    color: #d0d0d0;
  }
}

.color-scheme-light {
  @include mat.core-color($light-theme);
  @include mat.button-color($light-theme);
  @include mat.icon-color($light-theme);
  @include mat.list-color($light-theme);
  @include mat.sidenav-color($light-theme);
  @include mat.toolbar-color($light-theme);
  @include mat.menu-color($light-theme);
  @include mat.card-color($light-theme);
  @include mat.form-field-color($light-theme);
  // Example how you can easy add own custom styles
  .card-wrapper {
    color: #2d2d2d;
  }
}

body{

  &.color-scheme-dark{
    background-color: #3a3a3a;
    color: #f2f2f2;
    .main-card{
      background-color: #393838;
    }
    mat-sidenav{
      background-color: #393838;
    }
    mat-sidenav-content{
      background-color: #3a3a3a;
    }
    .form-control{
      border: 1px solid #464545;
      background-color: #3a3a3a;
    }
    
    
  }

  &.color-scheme-light{
    background-color: #f4f3ef;
    .main-card{
      background-color: #f5f5f5;
    }
    mat-sidenav{
      background-color: #f5f5f5;
    }
    mat-sidenav-content{
      background-color: #f4f3ef;
    }
    .form-control{
      
    }
    
  }

}

.main-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  //align-items: center;
  margin-top: 10px;
}
.main-card {
  width: 500px;
  align-items: center;
}

.main-card-content {
  width: 450px;
}

mat-form-field {
  width: 100%;
}
.button-big-bg {
  width: 100%;
  // color: white !important;
  // background-color: #F84E45 !important;
}
mat-label {
  color: #878484;
}

.footer-scss {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    color: red;
    cursor: pointer;
    
  }
  span:hover{
    text-decoration: underline;
  }
}
